@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font:'Kumbh Sans', sans-serif;

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hwb(220 71% 22%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

@import "./mobileScreen.scss";
@import "./desktopScreen.scss";

