
// RESET

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    transition: all ease-in-out .5s;
}

// remove scrollbar
html{
    ::-webkit-scrollbar{display: none;}
    ::-webkit-scrollbar-thumb{display: none;}
}

// Stalization the body of page
body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Configuring the header
header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: $White;
    z-index: 900;
    
    div.curtain{ // black courtain
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: $Black;
        opacity: 80%;
        display: none;
    }

    svg.iconMenu{ // icon menu
        font-size: 30px;
        cursor: pointer;
    }

    nav.menuBar{ // menu bar 
        position: absolute;
        width: 60vw;
        height: 100vh;
        background-color: $White;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.555);
        padding: 20px;
        top: 0px;
        left: -60vw;

        svg.close{ // icon close
            margin-left: 15px;
            cursor: pointer;
        }

        ul{ // list of navigation
            width: 100%;
            height: 25%;
            margin: 40px 0px 0px 15px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li a{ // links of navigation of menu
                text-decoration: none;
                color: $Very-dark-blue;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    div.cart{ // icon cart
        cursor: pointer;
        position: relative;

        div.cont{ // counting of cart product
            display: none;
            height: 15px;
            width: 20px;
            position: absolute;
            background-color: $Orange;
            border-radius: 10px;
            color: $White;
            text-align: center;
            font-size: .7em;
            font-weight: bold;
            left: 10px;
        }
        &.content{div.cont{display: block;}}
    }

    section.cartArea{ // cart area
        position: absolute;
        width: 350px;
        height: auto;
        max-height: 400px;
        padding: 10px;
        top: - 470px;
        left: calc(100vw - 360px);
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
        background-color: $White;
        overflow: auto;
        display: flex;
        flex-direction: column;

        h3{ padding: 15px 0px 15px 10px;} // title cart
        
        div.cartInfo{ // content of cart
            border-top: 1px solid $Grayish-blue;
            padding: 10px 0;
            text-align: center;
            align-content: center;

            div.product{ // each product added
                height: 75px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                img{ // image of product added
                    width: 50px;
                    border-radius: 5px;
                }

                div.infoProduct{ // content of procut added
                    flex-basis: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p.titleProduct{ // title of product added
                        text-align: left;
                        color: $Dark-grayish-blue;
                    }

                    p.priceProduct{ // all prices information
                        text-align: left;
                        span{font-weight: bold;}
                    }
                } 
                
                svg{ // icon remove product
                    width: 30px;
                    cursor: pointer;
                }
            }
        }

        button.checkout{ // buy button
            height: 40px;
            width: 90%;
            align-self: center;
            background-color: $Orange;
            color: $White;
            font-weight: bold;
            font-size: 1.1em;
            border: none;
            border-radius: 5px;
            display: none;
        }

        &.active{top: 70px;}
    }

    svg.logo{ // logo of page
        height: 20px;
        flex-basis: 60%;
    }

    img.avatar{width: 40px;}// image perfil
}

// Configuring the main
main{ 
    height: auto;
    width: 100%;
    max-width: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    section.carousel{ // carousel of image area 
        width: 100%;
        height: 400px;

        div.showCase{ // sample window
            width: 100%;
            height: 100%;
            position: relative;

            div.screenImage{ // main image set
                width: 100%;
                display: flex;
                flex-direction: row;
                position: absolute;

                img{width: 400px;} // all main image

            }

            div.pass{ // pass image
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                top: 0px;
                z-index: 10;

               div.background{ //icon pass
                    background-color: $White;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
               }
            }
        }

        div.miniatures{ display: none;} // miniatures image
    }

    section.information{ // content product area
        width: 100%;
        height: 500px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        span{ // brand product
            color: $Orange;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
        }

        h1{font-size: 2em;} // title product

        P{color: $Dark-grayish-blue} // description of product

        div.prices{ // prices area
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            p.currentPrice{ // current rice of product
                font-weight: bold;
                font-size: 1.5em;
                color: $Black;
            }

            p.discounts{ // discont as a percent of the product
                background-color: rgba(255, 166, 0, 0.247);
                color: $Orange;
                border-radius: 5px;
                padding: 5px;
            }

            p.oldPrice{ // price of product before the discont
                flex-basis: 40%;
                text-align: end;
                text-decoration: line-through;
                color: $Grayish-blue;
            }
        }

        form.amount{ // adding of cart
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div.add{ // adding the quantity
                height: 50px;
                background-color: $Light-grayish-blue;
                border-radius: 5px;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                button{ // icon - and +
                    height: 100%;
                    width: 50px;
                    background-color: transparent;
                    border: none;
                }

                input{ // the number
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
                    background-color: transparent;
                    border: none;
                }
            }

            button[type="submit"]{ // forming button
                align-items: center;
                height: 50px;
                background-color: $Orange;
                border: none;
                border-radius: 5px;
                color: $White;
                font-size: 1.1em;
                font-weight: bold;

                &:disabled{opacity: 50%;}
            }
        }
    }
}

// Configuring the footer
footer{
    text-align: center;
    font-size: .8em;
}