@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font:'Kumbh Sans', sans-serif;

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hwb(220 71% 22%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

// RESET

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    transition: all ease-in-out .5s;
}

body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: $White;
    z-index: 900;
    
    div.curtain{
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: $Black;
        opacity: 50%;
        display: none;
    }

    svg.iconMenu{
        font-size: 30px;
        cursor: pointer;
    }

    nav.menuBar{
        position: absolute;
        width: 60vw;
        height: 100vh;
        background-color: $White;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.555);
        padding: 20px;
        top: 0px;
        left: -60vw;

        svg.close{
            margin-left: 15px;
            cursor: pointer;
        }

        ul{
            width: 100%;
            height: 25%;
            margin: 40px 0px 0px 15px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li a{
                text-decoration: none;
                color: $Very-dark-blue;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    div.cart{
        cursor: pointer;
        position: relative;

        div.cont{
            display: none;
            height: 15px;
            width: 20px;
            position: absolute;
            background-color: $Orange;
            border-radius: 10px;
            color: $White;
            text-align: center;
            font-size: .7em;
            font-weight: bold;
            left: 10px;
        }
        &.content{div.cont{display: block;}}
    }

    section.cartArea{
        position: absolute;
        width: 350px;
        height: auto;
        max-height: 400px;
        padding: 10px;
        top: - 470px;
        left: calc(100vw - 360px);
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
        background-color: $White;
        overflow: auto;
        display: flex;
        flex-direction: column;

        h3{
            padding: 15px 0px 15px 10px;
        }
        
        div.cartInfo{
            border-top: 1px solid $Grayish-blue;
            padding: 10px 0;
            text-align: center;
            align-content: center;

            div.product{
                height: 75px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 50px;
                    border-radius: 5px;
                }

                div.infoProduct{
                    flex-basis: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p.titleProduct{
                        text-align: left;
                        color: $Dark-grayish-blue;
                    }

                    p.priceProduct{
                        text-align: left;
                        span{font-weight: bold;}
                    }
                } 
                
                svg{
                    width: 30px;
                    cursor: pointer;
                }
            }
        }

        button.checkout{
            height: 40px;
            width: 90%;
            align-self: center;
            background-color: $Orange;
            color: $White;
            font-weight: bold;
            font-size: 1.1em;
            border: none;
            border-radius: 5px;
            display: none;
        }

        &.active{top: 70px;}
    }

    svg.logo{
        height: 20px;
        flex-basis: 60%;
    }

    img.avatar{width: 40px;}
}

main{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    section.carousel{
        width: 100%;
        height: 400px;

        div.showCase{
            width: 100vw;
            height: 100%;
            position: relative;

            div.screenImage{
                display: flex;
                flex-direction: row;
                position: absolute;

                img{width: 400px;}

            }

            div.pass{
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                top: 0px;
                z-index: 10;

               div.background{
                    background-color: $White;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
               }
            }
        }
    }

    section.information{
        width: 100%;
        height: 200px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        span{
            color: $Orange;
            font-weight: bold;
            font-size: 1.2em;
        }

        h1{font-size: 2em;}

        P{color: $Dark-grayish-blue}
    }

    section.purchase{
        width: 100%;
        height: 200px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        div.prices{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            p.currentPrice{
                font-weight: bold;
                font-size: 1.5em;
            }

            p.discounts{
                background-color: rgba(255, 166, 0, 0.247);
                color: $Orange;
                border-radius: 5px;
                padding: 5px;
            }

            p.oldPrice{
                flex-basis: 40%;
                text-align: end;
                text-decoration: line-through;
                color: $Grayish-blue;
            }
        }

        form.amount{
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div.add{
                height: 50px;
                background-color: $Light-grayish-blue;
                border-radius: 5px;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                button{
                    height: 100%;
                    width: 50px;
                    background-color: transparent;
                    border: none;
                }

                input{
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
                    background-color: transparent;
                    border: none;
                }
            }

            button[type="submit"]{
                align-items: center;
                height: 50px;
                background-color: $Orange;
                border: none;
                border-radius: 5px;
                color: $White;
                font-size: 1.1em;
                font-weight: bold;

                &:disabled{opacity: 50%;}
            }
        }
    }
}

footer{
    text-align: center;
    font-size: .8em;
}
